.header {

    position: relative;

    nav {
        border: 1px solid red;
        border-radius: 0.625rem; // 10px
        overflow: hidden;

        @include breakpoint-down(medium){
            justify-content: space-between;
        }
    }

    &__logo {
        width: 200px;
        height: 80px;
        background-color: $logoBrown;

        .logo-image {
            background-image: url('https://raw.githubusercontent.com/KaidoSo/Woodland-WE-Project/main/images/woodland-logo.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin-top: 1.375rem; // 22px
            min-height: 2.125rem; // 34px
        }



    }

    &__links {

        ul {
            display: inline-flex;
            padding-left: 0;
            margin: 0;
            

            li {
                padding: 0rem 1.875rem;
                border-right: 1px solid #dfdfdf;
                line-height: 80px;

                @include breakpoint-down(special){
                    padding: 0rem 0.875rem;
                }

                a {
                    color: $black;
                    white-space: nowrap;
                    overflow: hidden;


                    &:hover {
                        color: $mainPurple;
                    }
                }
                
            }
        }
    }

    &__sub-menu {

        ul {

            li {

                a {
                    font-size: $font-sm;
                    line-height: 0.8125rem; // 13px
                }
            }
        }
    }

    &__facebook {
        padding-right: 1.875rem;
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 2.4875rem; // 35px
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;

        &__bar, &:after, &:before {
        content: '';
        display: block;
        width: 100%;
        height: 0.3125rem; //5px
        background-color: $logoBrown;
        margin: 0.125rem 0rem; // 2px
        transition: 0.4s;
        }
}

.is-active {

    &:before {
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .hamburger__bar {
        opacity: 0;
    }

    &:after {
        transform: rotate(45deg) translate(-4px, -6px);
    }

}
