.header {

    position: relative;
    z-index: 99;

    nav {
        border-radius: 0.625rem; // 10px
        overflow: hidden;
        background-color: $white;

        @include breakpoint-down(medium){
            justify-content: space-between;
        }
    }

    &__logo {
        width: 200px;
        height: 80px;
        background-color: $logoBrown;

        .logo-image {
            background-image: url('https://raw.githubusercontent.com/KaidoSo/Woodland-WE-Project/main/images/woodland-logo.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin-top: 1.375rem; // 22px
            min-height: 2.125rem; // 34px
        }



    }

    &__links {

        ul {
            display: inline-flex;
            padding-left: 0;
            margin: 0;           

            li {
                padding: 0rem 1.875rem;
                border-right: 1px solid $borderGray;
                line-height: 80px;

                @include breakpoint-down(special){
                    padding: 0rem 0.875rem;
                }

                a {
                    color: $black;
                    white-space: nowrap;
                    overflow: hidden;


                    &:hover {
                        color: $mainPurple;
                    }
                }
                
            }
        }
    }

    &__sub-menu {
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 656px;
        text-align: center;
        visibility: hidden;

        @include breakpoint-down(special){
            left: 560px;
        }

            li {
                width: 220px;
                height: 50px;
                line-height: 50px !important;
                border: 1px solid $borderGray;

                &:last-child {
                    border-bottom-left-radius: 0.625rem;
                    border-bottom-right-radius: 0.625rem;
                }

                a {
                    font-size: $font-sm;
                    line-height: 0.8125rem; // 13px
                }
            }
        }

    &__facebook {
        padding-right: 1.875rem;
    }
}

.header__links ul li:hover ul{
    visibility: visible;
}

.hamburger {
    position: relative;
    display: block;
    width: 2.4875rem; // 35px
    cursor: pointer;
    margin-right: 20px;
    appearance: none;
    background: none;
    outline: none;
    border: none;

        &__bar, &:after, &:before {
        content: '';
        display: block;
        width: 100%;
        height: 0.3125rem; //5px
        background-color: $logoBrown;
        margin: 0.125rem 0rem; // 2px
        transition: 0.4s;
        }
}

.is-active {

    &:before {
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .hamburger__bar {
        opacity: 0;
    }

    &:after {
        transform: rotate(45deg) translate(-4px, -6px);
    }

}

// Mobile Menu
.mobile__links {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: $borderGray;
    padding-top: 150px;
    transition: 0.4s;

    &.is-active{
        left: 0;
    }
    
    & ul li a {
        display: block;
        margin: 0 auto 16px;
        text-align: center;
        width: 100%;
        max-width: 300px;
        padding: 12px 16px;
        border-radius: 0.625rem;
        background-color: $logoBrown;
        color: $white;

        &:hover {
            background-color: #665e69;
        }
    }

}

.show {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 12px 16px;
    border-radius: 0.625rem;
    background-color: $logoBrown;
    color: $white;
    cursor: pointer;
}

// Mobile sub-menu
input {
    display: none;
}

.mobile__sub-menu {
    display: none;
}

[id=btn-1]:checked + ul {
    display: block;
    margin-right: 40px;
}
