.hero {
    position: absolute;
    z-index: 20;
    top: 36%;
    left: 8%;

    &__block_text {

        .purple_text {

        }

    }

    &__small_text {

    }

    &__buttons {

        .purple_buton {

        }

        .transp_button {
            
        }
    }


}