$logoBrown: #4b424f;
$mainPurple: #aa15e4;
$videoPurple: #7a418f;
$lightGreen: #768159;
$darkGreen:  #5F6451;
$lightYellow: #B07821;
$darkYellow: #94711F;
$blackBlue: #131030;
$darkPurple: #56394D;
// $purp1: #9251AA;
// $purp2: #69337D;