// Colors
$logoBrown: #4b424f;
$mainPurple: #aa15e4;
$videoPurple: #7a418f;
$lightGreen: #768159;
$darkGreen:  #5F6451;
$lightYellow: #B07821;
$darkYellow: #94711F;
$blackBlue: #131030;
$darkPurple: #56394D;
$black: #000000;
$white: #FFFFFF;
$borderGray: #dfdfdf;
$rightsPurple: #785674;
// $purp1: #9251AA;
// $purp2: #69337D;


// Font sizes
$font-sm: 0.6875rem; // 11px
$font-med: 0.875rem; // 14px